.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto', sans-serif;
}

h4 {
  position: relative;
  left: 200px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Added CSS for typing animation */
.typing-animation {
  border-right: 0.2rem solid white;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(40, end) infinite;
  color: white;
  max-width: 800px;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 800px;
  }
}